<p>Consider the following algorithm to generate a sequence of numbers. Start with an
integer n. If n is even, divide by 2. If n is odd, multiply by 3 and add 1. Repeat this
process with the new value of n, terminating when n = 1. For example, the following
sequence of numbers will be generated for n = 22: </p><br>
<br>
<b>22 11 34 17 52 26 13 40 20 10 5 16 8 4 2 1 </b><br>
<br>
<p>
It is conjectured (but not yet proven) that this algorithm will terminate at n = 1 for
every integer n. Still, the conjecture holds for all integers up to at least 1, 000, 000.
For an input n, the cycle-length of n is the number of numbers generated up to and
including the 1. In the example above, the cycle length of 22 is 16. Given any two
numbers i and j, you are to determine the maximum cycle length over all numbers
between i and j, including both endpoints. </p>
<br>
Input <br>
The input will consist of a series of pairs of integers i and j, one pair of integers per
line. All integers will be less than 1,000,000 and greater than 0.
<br>
Output <br>

For each pair of input integers i and j, output i, j in the same order in which they
appeared in the input and then the maximum cycle length for integers between and
including i and j. These three numbers should be separated by one space, with all three
numbers on one line and with one line of output for each line of input. 
<br>
<table>
<tr>
<th>Sample Input</th>
<th>Sample Output</th>
</tr>
<tr> 
<td>1 10</td>
<td>1 10 20</td>

</tr>
<tr> 
<td>100 200</td>
<td>100 200 125</td>

</tr>

<tr> 
<td>201 210</td>
<td>201 210 89</td>

</tr>


<tr> 
<td>900 1000</td>
<td>900 1000 174</td>

</tr>


</table>
 <br>

<br>

In [10]:
sequence = [1]

def makeSeq(elem):
    sequence.append(int(elem))

def generateSeq(num):
    if num == 1:
       return makeSeq(1)
    else:
        if not num:
           print('Invalid Number')

        else:
            if(num % 2 == 0):
               return makeSeq(num/2)
            else:
               return makeSeq(num*3+1)
    
            
while sequence[len(sequence)-1] != 1:
    generateSeq(sequence[len(sequence)-1])

In [11]:
sequence

[1]

In [51]:
def generate_output(x,y):
    x_sq = getSq(x)
    y_sq =  getSq(y)
    result = (str(x) + ' ' + str(y) + ' ' + (str(len(x_sq)) if len(x_sq) >= len(y_sq) else str(len(y_sq))))

    return result
    

def getSq(num):
   sq = [num]
    
   while sq[len(sq)-1] != 1:
      if num == 1:
        return sq
      else:
        if not num:
           print('Invalid Number')

        else:
            if(num % 2 == 0):
               sq.append(num/2)
               num = sq[len(sq)-1]
            else:
               sq.append(num*3+1)
               num = sq[len(sq)-1]
   return sq

In [56]:
generate_output(10,9)

'10 9 20'